<footer class="page-footer fs-6 bg pt-1">

    <div class="container pb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <h4 class="text-light">
                    Mais sobre o projeto
                </h4>
                <a href="https://github.com/leo-nardow" target="_blank" class="icoGitHub d-flex align-items-center link tnormal text-light">
                    <i class="fa fa-github" aria-hidden="true"></i> https://github.com/leo-nardow
                </a>
            </div>
            <div class="col-4">
                <h4 class="text-light">
                    Contato
                </h4>
                <div class="d-flex row">
                    <a href="https://www.linkedin.com/in/leo-nardow/" target="_blank" class="icoEmail d-flex align-items-center link tnormal text-light">
                        <i class="fa fa-envelope" aria-hidden="true"></i> leonardoalmeida2703@gmail.com
                    </a>
                    <a href="https://www.linkedin.com/in/leo-nardow/" target="_blank" class="icoLinkedin d-flex align-items-center link tnormal text-light">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> https://www.linkedin.com/in/leo-nardow/
                    </a>
    
                    <a href="https://www.instagram.com/leo_nardow/" target="_blank" class="icoInstagram d-flex align-items-center link tnormal text-light">
                        <i class="fa fa-instagram" aria-hidden="true"></i> https://www.instagram.com/leo_nardow/
                    </a>
                </div>

            </div>
            <div class="col-4">
                <h4 class="text-light">
                    Receba Novidades
                </h4>
                <p class="tlight text-light">Assine e receba novidades sobre esse projetos e muitos outros em primeira mão</p>
                <form class="d-flex">
                    <input class="form-control tlight" type="search" placeholder="your@email.com" aria-label="Search">
                    <button class="btn bg-btn bg-primary" type="submit">
                        <i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                </form>
            </div>
        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> Todos os direitos reservados a Leonardo Almeida © 2021 Copyright</span>

    </div>

</footer>